@font-face {
    font-family: 'MontserratLight';
    src: url('../fonts/MontserratLight.eot');
    src: url('../fonts/MontserratLight.woff2') format('woff2'),
        url('../fonts/MontserratLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/MontserratBold.eot');
    src: url('../fonts/MontserratBold.woff2') format('woff2'),
        url('../fonts/MontserratBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/MontserratRegular.eot');
    src: url('../fonts/MontserratRegular.woff2') format('woff2'),
        url('../fonts/MontserratRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratMedium';
    src: url('../fonts/MontserratMedium.eot');
    src: url('../fonts/MontserratMedium.woff2') format('woff2'),
        url('../fonts/MontserratMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratExtraBold';
    src: url('../fonts/MontserratExtraBold.eot');
    src: url('../fonts/MontserratExtraBold.woff2') format('woff2'),
        url('../fonts/MontserratExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

:root {
    --buttonStart: #ccb56b;
    --buttonFinish: #6e5a18;
    --latune: #ccb56b;
    --grafit: #474a51;
}

/* HEADER */

.header {
    background-color: black;
}

.container {
    max-width: 1470px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header__container {
    display: flex;
    background-color: black;
}

.header__label {
    margin: 0;
    padding: 0;
    height: 175px;
    margin-right: auto;
}

.heder__navigation {
    display: flex;
    align-items: center;
}

.header__menu {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 25px;
}

.header__submenu {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.header__link {
    font-family: 'MontserratRegular', 'sans-serif';
    text-decoration: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    transition: color 0.4s ease;
}

.header__link:hover {
    color: var(--latune);
}

/* MAIN */

/* SECTION ABOUT */

.container__about {
    display: flex;
    gap: 20px;
}

.about {
    background-color: black;
}

.about__left {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.about__right {
    display: flex;
    width: 50%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.about__social {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.fade-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fade 8s infinite;
    opacity: 0;
}

.fade-image:nth-child(1) {
    animation-delay: 0s;
}

.fade-image:nth-child(2) {
    animation-delay: 4s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.about__title {
    font-family: 'MontserratRegular', 'sans-serif';
    color: var(--latune);
    margin-top: 0;
    font-size: 36px;
}

.about__description {
    font-family: 'MontserratLight', 'sans-serif';
    color: white;
    font-size: 24px;
    max-width: 620px;
    line-height: 1.4;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}

.about__description:last-of-type {
    margin-bottom: 20px;
}

.about__description-team {
    font-family: 'MontserratLight', 'sans-serif';
    display: flex;
    justify-content: flex-start;
    color: white;
    font-size: 24px;
    max-width: 550px;
    line-height: 1.5;
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
}

.about__contacts {
    font-family: 'MontserratLight', 'sans-serif';
    background: linear-gradient(
        to top,
        var(--buttonFinish),
        var(--buttonStart)
    );
    font-size: 22px;
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: background 0.7s ease;
}

.about__contacts:hover {
    background: linear-gradient(
        to top,
        var(--buttonFinish),
        var(--buttonFinish)
    );
}

.about__buttons {
    display: flex;
    gap: 30px;
}

.about__gallery {
    font-family: 'MontserratRegular', 'sans-serif';
    background-color: white;
    font-size: 22px;
    padding: 15px 38px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: #5a5456;
    transition: background-color 0.4s ease;
}

.about__gallery:hover {
    background-color: var(--grafit);
    color: white;
}

/* GALLERY STYLE*/

.about__carousel {
    width: 100%;
}

.about__box {
    display: flex;
    align-items: center;
    height: 430px;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    position: relative;
}

.about__img {
    height: 300px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    max-width: 450px;
    width: 100%;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.about__img-1 {
    left: 32%;
    opacity: 0.5;
    transform: translateX(-50%);
}

.about__img-2 {
    box-shadow: -2px 5px 32px 6px rgb(210 196 196 / 60%);
    height: 350px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    z-index: 2;
}

.about__img-3 {
    left: 68%;
    opacity: 0.5;
    transform: translateX(-50%);
}

.about__controls {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
    margin: 0;
}

.about__controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    color: white;
    text-transform: capitalize;
}

.about__controls button:focus {
    outline: none;
}

.about__controls-previous {
    position: relative;
    font-family: 'MontserratLight', 'sans-serif';
}

.about__controls-previous::before {
    border: solid white;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    width: 5px;
    transition: left 0.3s ease-in-out;
}

.about__controls-previous:hover::before {
    left: -40px;
}

.about__controls-next {
    position: relative;
    font-family: 'MontserratLight', 'sans-serif';
}

.about__controls-next::before {
    border: solid white;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    right: -30px;
    padding: 10px;
    position: absolute;
    top: 45px;
    transform: rotate(-45deg) translateY(-50%);
    width: 5px;
    transition: right 0.3s ease-in-out;
}

.about__controls-next:hover::before {
    right: -40px;
}

.about__nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.about__nav li {
    background: white;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.about__nav li.about__img-selected {
    background: gray;
}

/* SECTION AREAS */
.areas {
    /* background-image: url('../public/image/areas/Section.png'); */
    background-size: cover;
    background-repeat: no-repeat;
}

.container__areas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.areas__title {
    font-family: 'MontserratRegular', 'sans-serif';
    color: #474a50;
    font-size: 42px;
    margin: 0;
    margin-bottom: 30px;
}

.areas__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 80px;
    padding: 0;
    margin-bottom: 50px;
}

.link-style {
    text-decoration: none;
}

.areas__item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 15px;
    transition: transform 0.6s ease;
}

.areas__item:hover {
    transform: scale(1.2);
}

.areas__top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 260px;
    height: 100%;
}

.areas__first {
    background-image: url('../public/image/scirt/scirt1.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* video */
.video__wrapper {
    position: relative;
    max-width: 260px;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.areas__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video__controls {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 8px;
    align-items: center;
    gap: 10px;
    z-index: 10;
}

.video__controls input[type='range'] {
    flex: 1;
}

.video__play-pause {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.video__wrapper:hover .video__controls {
    display: flex;
}

.areas__second {
    background-image: url('../public/image/areas/mood2:2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.areas__third {
    background-image: url('../public/image/scirt/scirt2.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.areas__fourth {
    background-image: url('../public/image/areas/mood4:4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.areas__bottom {
    background-color: var(--latune);
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.areas__subtitle {
    font-family: 'MontserratRegular', 'sans-serif';
    font-size: 22px;
    font-weight: 600;
    color: white;
}

/* SECTION LAST PROJECT */
.project {
    padding: 70px;
    background-color: #474a50;
}

.project__title {
    margin: 0;
}

.project__container {
    background-color: #474a50;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project__title {
    font-family: 'MontserratRegular', 'sans-serif';
    font-size: 50px;
    font-weight: 600;
    color: var(--latune);
}

.project__description {
    font-family: 'MontserratRegular', 'sans-serif';
    font-size: 28px;
    font-weight: 600;
    color: var(--latune);
}

.project__gallery {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.project__section {
    width: 100%;
    display: flex;
    gap: 20px;
}

.project__photo-small {
    flex: 0 0 35%;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.project__photo-big {
    flex: 1;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.project__img-small {
    max-height: 533px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.project__img-small:hover {
    transform: scale(1.1);
}

.project__img-big {
    max-height: 533px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.project__img-big:hover {
    transform: scale(1.1);
}

/* SECTION OPTION */

.option {
    background-color: black;
    width: 100%;
}

.option__container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.option__list {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;
}

.option__item {
    max-width: 360px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.button-margin {
    margin: 20px;
}

.option__subtitle {
    font-family: 'MontserratRegular', 'sans-serif';
    text-align: center;
    color: white;
    height: 50px;
    font-weight: 600;
    font-size: 30px;
}

.option__description {
    font-family: 'MontserratLight', 'sans-serif';
    color: white;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: auto;
}

.option__link {
    font-family: 'MontserratLight', 'sans-serif';
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--latune);
    font-size: 26px;
    transition: color 0.4s ease;
}

.option__link:hover {
    color: var(--latune);
}

.option__angel {
    width: auto;
    height: 1.3em;
    transition: padding-left 0.4s ease;
}

.option__link:hover .option__angel-color {
    fill: var(--latune);
}

.option__link:hover .option__angel {
    padding-left: 12px;
}

/* SECTION REPUTATION */

.reputation {
    background-color: white;
    box-sizing: border-box;
}

.reputation__container {
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    box-sizing: border-box;
}

/* slider */
.slider-container {
    width: 100%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 550px;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.before {
    background-image: url('../public/image/carusel/picture3.jpg'); /* Ваше изображение "до" */
    z-index: 1;
}

.after {
    background-image: url('../public/image/carusel/picture2.jpg'); /* Ваше изображение "после" */
    z-index: 2;
    width: 50%; /* Начальная ширина шторки */
    overflow: hidden;
}

.divider {
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: #fff;
    z-index: 3;
    cursor: ew-resize;
    transform: translateX(-50%);
}

.handle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    cursor: ew-resize;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.arrow {
    font-size: 16px;
    color: #666;
    pointer-events: none;
    margin: 0 4px;
}

/* slider */

.api-map {
    width: 62%;
    min-height: 250px;
    box-sizing: border-box;
}

.reputation__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.reputation__item:not(:last-child) {
    border-right: 2px solid var(--latune);
}

.reputation__item {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.reputation__img {
}

.reputation__statistic {
    font-family: 'MontserratLight', 'sans-serif';
    font-size: 34px;
    font-weight: 800;
    color: var(--latune);
}

.reputation__description {
    font-family: 'MontserratLight', 'sans-serif';
    font-size: 34px;
    color: var(--latune);
}

.reputation__garant {
    font-family: 'MontserratRegular', 'sans-serif';
    line-height: 50px;
    font-size: 28px;
    font-weight: 600;
    color: var(--latune);
    text-align: center;
    margin: 0;
}

/* SECTION TEAM */
.team {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #474a50;
}

.team__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    gap: 50px;
}

.team__item {
    display: flex;
    flex-direction: column;
}

/* Контейнер для фото */
.team__avatar-wrapper {
    position: relative;
    display: inline-block;
    max-width: 290px;
    width: 100%;
    max-height: 440px;
    height: 100%;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
}

/* Фото */
.team__avatar {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

/* Затемнение и текст */
.team__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.6s ease;
}

/* Текст */
.team__name {
    color: white;
    font-family: 'MontserratRegular', 'sans-serif';
    font-size: 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.team__avatar-wrapper:hover .team__overlay {
    opacity: 1;
}

.team__avatar-wrapper:hover .team__name {
    opacity: 1;
    transform: translateY(0);
}

.team__avatar-wrapper:hover .team__avatar {
    transform: scale(1.1);
}

.team__contacts {
    font-family: 'MontserratRegular', 'sans-serif';
    color: white;
    font-size: 24px;
    align-self: center;
    display: flex;
    margin-bottom: 0;
    cursor: pointer;
}

.contacts__icon path {
    transition: fill 0.3s ease;
}

.team__contacts:hover .contacts__icon path {
    fill: var(--latune);
}

.contacts-margin {
    margin-bottom: 15px;
}

.center {
    justify-content: center;
}

.contacts__link {
    font-family: 'MontserratRegular', 'sans-serif';
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
}

.team__contacts:hover .contacts__link {
    color: var(--latune);
}

.team__title {
    font-family: 'MontserratRegular', 'sans-serif';
    font-size: 46px;
    text-align: center;
    color: var(--latune);
}

/* FOOTER */
.footer {
    background-color: black;
    width: 100%;
}

.footer__container {
    background-color: black;
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer__left {
    flex-grow: 1;
}

.footer__right {
    flex-grow: 1;
}

.footer__question {
    font-family: 'MontserratRegular', 'sans-serif';
    font-weight: 700;
    color: var(--buttonStart);
    font-size: 32px;
    margin: 0;
    margin-bottom: 50px;
}

.footer__description {
    font-family: 'MontserratRegular', 'sans-serif';
    color: white;
    font-size: 24px;
}

.footer__link {
    font-family: 'MontserratRegular', 'sans-serif';
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}

.footer__description:last-of-type {
    margin-bottom: 50px;
}

.footer__follow {
    font-family: 'MontserratRegular', 'sans-serif';
    font-size: 24px;
    color: var(--buttonStart);
}

.footer__contacts {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.footer__social {
    cursor: pointer;
    transition: transform 0.4s ease;
}

.footer__icon-path {
    fill: white;
    transition: fill 0.4s ease;
}

.footer__social:hover {
    transform: scale(1.5);
}

.footer__social:hover .footer__icon-path {
    fill: var(--latune);
}

.footer__right {
    display: flex;
    justify-content: center;
}

.footer__form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    gap: 20px;
}

.footer__input {
    font-family: 'MontserratRegular', 'sans-serif';
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
}

.footer__textarea {
    font-family: 'MontserratRegular', 'sans-serif';
    padding: 15px 40px;
    min-height: 200px;
    height: 100%;
    border-radius: 25px;
    border: none;
    resize: vertical;
}

.result {
    color: red;
    font-size: 16px;
    font-family: 'MontserratRegular', 'sans-serif';
}

.footer__button {
    font-family: 'MontserratLight', 'sans-serif';
    background: linear-gradient(
        to top,
        var(--buttonFinish),
        var(--buttonStart)
    );
    font-size: 22px;
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    align-self: self-end;
}

.footer__button:hover {
    background: linear-gradient(
        to top,
        var(--buttonFinish),
        var(--buttonFinish)
    );
}

.footer__container-nav {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.footer__menu {
    display: flex;
    align-items: center;
}

.footer__menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 35px;
}

.footer__menu-item {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.footer__menu-item a {
    font-family: 'MontserratRegular', 'sans-serif';
    text-decoration: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    transition: color 0.4s ease;
}

.footer__menu-item a:hover {
    color: var(--latune);
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.visible {
    display: block;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}
